<div class="container d-flex justify-content-center p-5">
  <div class="row">
  <% @services.each do |service| %>
    <div class="card-product w-50">
      <%= cl_image_tag(service.category.photo.key,
                  :class=>'card-product-img') %>
      <div class="card-product-infos">
        <h2><%= service.category.name.capitalize %></h2>
        <p><%= service.description %></p>
        <p>Fecha de creación: <%= service.created_at.strftime("%d/%m/%y") %></p>
        <p>Fecha de última actualización: <%= service.updated_at.strftime("%d/%m/%y") %></p>
        <%= link_to '<i class="fa-solid fa-trash "></i>'.html_safe, services_path(service),
            class: "position-icon fs-7",
            data: {turbo_method: :delete, turbo_confirm: "¿Seguro que quieres borrar este producto?"} %>
      </div>
    </div>
  <% end %>
  </div>
</div>
