
<div>
  <%= @service.id %>
  <%= @service.user_id %>
  <%= @service.category_id %>
  <%= @service.description %>
</div>
<%= link_to "Delete",
  service_path(@service),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
