<div class="container">
  <h1>Mi perfil</h1>
  <div class="row text-center">
    <div class="col-6">
      <p>Nombre: <%= @user.name %> </p>
      <p>Dirección: <%= @user.address %> </p>
    </div>
    <div class="col-6">
      <p>E-mail: <%= @user.email %></p>
      <p>Usuario desde: <%= @user.created_at %></p>
    </div>
  </div>
  <%= link_to "Editar",  edit_user_registration_path, class: "btn btn-primary" %>

</div>
