<div class="container">
<div class= "d-flex justify-content-between align-items-center">
  <h1>Mi perfil</h1>
    <%= link_to "Editar",  edit_user_registration_path, class: "btn btn-fixi" %>
</div>
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <p class="text-profile"><span>Nombre: </span><%= @user.name %> </p>
    </div>
    <div class="col-4">
      <p class="text-profile"><span>Dirección: </span><%= @user.address %> </p>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-4">
      <p class="text-profile"><span>E-mail: </span><%= @user.email %></p>
    </div>
    <div class="col-4">
      <p class="text-profile"><span>Usuario desde: </span><%= @user.created_at.strftime('%d/%m/%Y') %></p>
    </div>
  </div>
</div>
