<div class = "container">
<h1>Mis solicitudes</h1>

<!-- Solicitudes enviadas -->
  <% if @sent_requests.size > 0 %>
    <% @sent_requests.each do |request| %>
      <div class="card">
        <div class="card-header">
          Solicitud de servicio de <%= request.service.category.name.capitalize %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Fixer: <%= request.service.user.name %></h5>
          <p class="card-title">Status: <%= request.status.capitalize %></p>
          <p class="card-text">Descripción:</p>
          <p class="card-text"><%= request.description %></p>
          <!-- Botones de reseña (se muestra al finalizarse la request) -->
          <%= link_to "Crear una reseña", new_request_review_path(request), class: "btn btn-fixi" if request.status == "finalizada" && Review.where(user: current_user, request: request).size == 0 %>
          <!-- Botones de status -->
          <% if request.status == "enviada" %>
          <%= button_to "Cancelar solicitud", cancel_path(request), method: :patch, class: "btn btn-fixi" %>
          <% elsif request.status == "aceptada" %>
          <%= button_to "Reservar visita", book_path(request), method: :patch, class: "btn btn-fixi" %>
          <% elsif request.status == "por pagar" %>
          <%= button_to "Pagar", pay_path(request), method: :patch, class: "btn btn-fixi" %>
          <%= button_to "Cancelar", cancel_path(request), method: :patch, class: "btn btn-fixi" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- Solicitudes recibidas -->
  <% if @received_requests.size > 0 %>
    <% @received_requests.each do |request| %>
      <div class="card">
        <div class="card-header">
          Solicitud de servicio de <%= request.service.category.name.capitalize %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Cliente: <%= request.user.name %></h5>
          <p class="card-title">Status: <%= request.status.capitalize %></p>
          <p class="card-text">Descripción:</p>
          <p class="card-text"><%= request.description %></p>
          <!-- Botones de reseña (se muestra al finalizarse la request) -->
          <%= link_to "review", new_request_review_path(request, cliente: request.user.id) if request.status == "finalizada" && Review.where(user: current_user, request: request).size == 0 %>
          <!-- Botones de status -->
          <% if request.status == "enviada" %>
          <%= button_to "Aceptar solicitud", accept_path(request), method: :patch, class: "btn btn-fixi" %>
          <%= button_to "Declinar solicitud", cancel_path(request), method: :patch, class: "btn btn-fixi" %>
          <% elsif request.status == "reservada" %>
          <%= button_to "Presupuestar servicio", budget_path(request), method: :patch, class: "btn btn-fixi" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
