<div class="fondo-page" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path 'fondo_requests.jpg' %>);">
  <div class="container d-flex justify-content-center p-5">
    <div class = "form-card w-50"">
      <h2 class= "text-center pb-2">NUEVA SOLICITUD PARA <%= @fixer.name.upcase %></h2>
      <%= simple_form_for @request do |f| %>
      <p class="mb-2">Elige un rango de fechas:</p>
      <div>
        <%= f.input :start_date, as: :string,
                                  input_html: {
                                    data: { controller: "flatpickr", flatpickr_min_date: Time.zone.now }
                                  } %>
        <%= f.input :end_date, as: :string,
                                  input_html: {
                                    data: { controller: "flatpickr", flatpickr_min_date: Time.zone.now }
                                  } %>
      </div>
      <div class="">
        <%= f.select(:service_id, options_for_select(@services.map { |service| [service.category.name.capitalize, service.id] })) %>
      </div>
      <%= f.input :description, placeholder: '...', label: "Descripción" %>
      <div class="text-end p-2">
      <%= f.submit "Enviar Solicitud", class: "btn btn-fixi" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
