<div class = "container mt-5 mb-3">
  <div class="d-flex justify-content-center mb-3">
  <h1>NUEVA SOLICITUD PARA <%= @fixer.name %></h1>
  </div>
  <%= simple_form_for @request do |f| %>
    <%= f.input :description, placeholder: '...', label: "Descripción" %>
    <%= f.input :start_date, html5: true, label: "Fecha de inicio"%>
    <%= f.input :end_date, html5: true%>
    <%= f.select(:service_id, options_for_select(@services.map { |service| [service.category.name, service.id]})) %>
    <%= f.submit %>
  <% end %>
</div>
<%= console %>
