


  <!--banner-->

<div class="banner mx-4 mt-3 rounded-5 cajita-banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
  url(<%= asset_path 'banner2.jpg' %>);">
    <div class="container text-right titulo-banner">
      <h1> <strong>DEJA EN MANOS DE EXPERTOS</strong></h1>
      <h1> <strong>EL CUIDADO DE TU HOGAR</strong></h1>
      <p>Encuentra al tuyo a solo un clic.</p>
      <!-- <a class="btn mt-3 pr-5 btn-fixi" href="#">Contactanos</a> -->
    </div>


    <%= link_to "CONOCE LOS MÁS CERCANOS A TU UBICACIÓN <i class='fas fa-map-marker-alt'></i>".html_safe, categories_path, class: "boton-cercano" %>

    <img src="<%= asset_path 'destello.svg' %>" alt="Descripción de la imagen 1" class="banner-image banner-image1">
    <img src="<%= asset_path 'arrow.svg' %>" alt="Descripción de la imagen 1" class="banner-image banner-image2">
    <img src="<%= asset_path 'chips.svg' %>" alt="Descripción de la imagen 1" class="banner-image banner-image3">
</div>





<!--FONDO-->
<div class="fondo-page" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),
  url(<%= asset_path 'bg5.jpg' %>);">





     <!--titulo de seccion 1-->
      <div class="row px-5 titulos-todas-secciones particularidad-titulo1">
        <div class="col-12 d-flex justify-content-between espaciado-line">
          <h1 class="text-start titulo-informacion"><strong>CATEGORIAS</strong> / <span class="profesionales">Profesionales Expertos</span></h1>
          <%# <button class="custom-button">Ver todos</button> %>

        </div>
      </div>

    <!--categorias-->
    <div class="container personalizado">
      <div class="row justify-content-center">


        <div class="col-8">
          <div class="row">
            <% @categories.each do |category|  %>
              <div class="col-4 ">
                <%= link_to category_path(category) do %>
                  <div class="nuevas-tarjetas-category" style="background-image: url('<%= cl_image_tag(category.photo.key) %>')">
                    <p class="tarjetas-nombre"> <%= category.name %> </p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>



      </div>
    </div>




      <!--titulo de seccion 2-->
      <div class="row px-5 py-4 titulos-todas-secciones personalizar-por-cards">
        <div class="col-12 d-flex justify-content-between info-card-category ">
          <h1 class="text-start titulo-informacion"><strong>PASO A PASO</strong> / <span class="profesionales">Soluciona tus problemas</span></h1>
        </div>
      </div>


      <!--Paso a Paso-->
      <div class="container px-5 fondito-cards-paso">
        <div class="row pasito-pasito">
          <div class="col card-style">
            <img src="<%= asset_path 'paso-1.svg' %>" alt="Paso 1" class="card-image" />
            <div class="descripcion-pasito">
              <h4>Búsqueda</h4>
              <p>Elige al Fixer de tu preferencia utilizando nuestros filtros de búsqueda.</p>
            </div>
          </div>

          <div class="col card-style">
            <img src="<%= asset_path 'paso-2.svg' %>" alt="Paso 2" class="card-image" />
            <div class="descripcion-pasito">
              <h4>Agendar</h4>
              <p>Envía la descripción de lo que necesitas y agenda con el Fixer en el horario que más te convenga.</p>
            </div>
          </div>

          <div class="col card-style">
            <img src="<%= asset_path 'paso-3.svg' %>" alt="Paso 3" class="card-image" />
            <div class="descripcion-pasito">
              <h4>Pago</h4>
              <p>Registra el pago para reservar la visita del Fixer a tu hogar.</p>
            </div>
          </div>

          <div class="col card-style">
            <img src="<%= asset_path 'paso-4.svg' %>" alt="Paso 4" class="card-image" />
            <div class="descripcion-pasito">
              <h4>Confirmación</h4>
              <p>Recibe la confirmación de Fixi y relájate,  ¡pronto tu hogar estará en buenas manos!</p>
            </div>
          </div>
        </div>
      </div>



      <!--Informacion capsulas-->
      <div class="container px-5  fondo-principal">
        <div class="row ">
          <!-- Primera columna -->
          <div class="col-6 informacion-estilo">
          <div class="img-maestro" style="background-image: url(<%= asset_path 'maestro.png' %>)"></div>
          </div>

          <!-- Segunda columna -->
          <div class="col-6 text-center text-grande">
                <h1 class="display-4">ENCUENTRA EL <br> TUYO AQUÍ</h1>
                <span class="palabra-informacion" >Busca en tu radar más cercano, el profesional que necesitas</span>
                <div class="casita-fixi" style="background-image: url(<%= asset_path 'logo.svg' %>)"></div>
          </div>

          <!-- Tercera columna -->

        </div>
      </div>









       <!--titulo de seccion 3-->
      <div class="row px-5 titulos-todas-secciones">
        <div class="col-12 d-flex justify-content-between espaciado-line">
          <h1 class="text-start titulo-informacion"><strong>SE PARTE DE NUESTRA</strong> /
          <span class="profesionales">Experiencia Fixi</span></h1>
        </div>
      </div>


      <!--carrusel reviews-->
      <div class="container cajita-reviews my-4">
        <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-indicators ">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active fondo-carrusel-nuevo">
            <img src="<%= asset_path 'carrusel1.jpg' %>" class="d-block w-100 h-50 filtro-img" alt="...">
              <div class="carousel-caption carousel-caption custom-carousel-caption">
                  <div class="star-rating d-flex align-items-center justify-content-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                  </div> <!-- Esta es la etiqueta de cierre que agregué -->
                  <div class="descripcion-reviews">
                    <p>"Encuentro tranquilidad y confianza al saber que puedo con profesionales en mi hogar, gracias a este servicio. ¡La calidad y rapidez me han dejado sinceramente impresionada!"</p>
                    <h5>María Elena</h5>
                  </div>
              </div>
            </div>
            <div class="carousel-item fondo-carrusel-nuevo">
            <img src="<%= asset_path 'carrusel2.jpg' %>" class="d-block w-100 h-50 filtro-img" alt="...">
              <div class="carousel-caption carousel-caption custom-carousel-caption">
                  <div class="star-rating d-flex align-items-center justify-content-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                  </div>
                  <div class="descripcion-reviews">
                    <p>""Desde el momento que contacté a un profesional a través de esta web, supe que estaba en manos expertas. ¡Mi problema de plomería se solucionó en un abrir y cerrar de ojos, sin ningún contratiempo!""</p>
                    <h5>Angela Torrealba</h5>
                  </div>
              </div>
            </div>
            <div class="carousel-item fondo-carrusel-nuevo">
            <img src="<%= asset_path 'carrusel3.jpg' %>" class="d-block w-100 h-50 filtro-img" alt="...">
              <div class="carousel-caption carousel-caption custom-carousel-caption">
                  <div class="star-rating d-flex align-items-center justify-content-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                  </div> <!-- Esta es la etiqueta de cierre que agregué -->
                  <div class="descripcion-reviews">
                    <p>"La eficiencia y profesionalismo que experimenté al utilizar este servicio fue inigualable. Finalmente he encontrado a alguien confiable para todos mis proyectos de mantenimiento hogareño. ¡Muy recomendado!"</p>
                    <h5>Daniel Urrutia</h5>
                  </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>





</div>
