 <!--banner-->

  <div class="banner mx-4 mt-3 mb-3 rounded-5 cajita-banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
  url(<%= asset_path 'banner2.jpg' %>);">
    <div class="container text-right titulo-banner">
      <h1> <strong>DEJA EN MANOS DE EXPERTOS</strong></h1>
      <h1> <strong>EL CUIDADO DE TU HOGAR</strong></h1>
      <p>Encuentra al tuyo a solo un clic.</p>
      <!-- <a class="btn mt-3 pr-5 btn-fixi" href="#">Contactanos</a> -->
    </div>

    <form class="banner-search">
      <select name="categoria" class="banner-search-category">
        <!-- Añade las opciones de categoría aquí, por ejemplo: -->
        <option value="Categoria1">Categoria 1</option>
        <option value="Categoria2">Categoria 2</option>
      </select>
      <select name="avaluacion" class="banner-search-avaluacion">
        <!-- Añade las opciones de avaluación aquí, por ejemplo: -->
        <option value="5">5 estrellas</option>
        <option value="4">4 estrellas</option>
      </select>
      <input type="text" name="query" class="banner-search-input" placeholder="Buscar...">
      <button type="submit" class=" btn-fixi">Buscar</button>
    </form>

    <img src="<%= asset_path 'destello.svg' %>" alt="Descripción de la imagen 1" class="banner-image banner-image1">
    <img src="<%= asset_path 'arrow.svg' %>" alt="Descripción de la imagen 1" class="banner-image banner-image2">
    <img src="<%= asset_path 'chips.svg' %>" alt="Descripción de la imagen 1" class="banner-image banner-image3">

  </div>

  <!-- Termino banner-->




  <!--categorias-->

<div class="">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center titulo-informacion">CATEGORIAS</h2>
    </div>
  </div>
  <div class="row justify-content-center tarjetas-pintura">
    <% @categories.each_with_index do |category, index|  %>
    <div class="col tarjetas-informacion mx-0" >
      <div class="card-category text-category" style="background-color: rgba(216, 245, 0, <%= 0.1 + (index * 0.1) %>);">
        <%= category.name %>

      </div>
    </div>
    <% end %>
  </div>
</div>






  <!--Informacion-->
  <div class="container fondo-principal">
    <div class="row d-flex justify-content-between">
      <!-- Primera columna -->
      <div class="col align-items-center">
          <img src="<%= asset_path 'carpinteria.jpg' %>" alt="Imagen 1" class=" img-capsula">
      </div>

      <!-- Segunda columna -->
      <div class="col align-items-center text-center text-grande">
            <img src="<%= asset_path 'rayon_Mesa de trabajo 1.svg' %>" alt="Descripción de la imagen 1" class="rayado-informacion">
            <h1 class="display-4">ENCUENTRA EL TUYO</h1>
            <h5 class="texto-informacion">Busca en tu radar más cercano el profesional que necesitas</h5>
          <div>
            <button type="button" class="btn-tamaño-xl">Botón </button>
          </div>

      </div>

      <!-- Tercera columna -->
      <div class="col align-items-center">
          <img src="<%= asset_path 'electricista.jpg' %>" alt="Imagen 5" class=" img-capsula">
      </div>
    </div>
  </div>







 <!--FONDO-->

  <div class="fondo-page" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
  url(<%= asset_path 'fondo-fixi-new.png' %>);">



  <!--Terimino de las card categorias-->


  <div class="reviews-section container mt-5">
    <h2 class="text-center mb-4">Opiniones de nuestros clientes</h2>
    <div id="reviewsCarrusel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="review-card text-center">
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <h4>3.0</h4>
            </div>
            <p>"Servicio excepcional, muy profesionales y amables. Definitivamente los recomendaría a mis amigos."</p>
            <h5>- Cliente Satisfecho 1</h5>
          </div>
        </div>

        <div class="carousel-item">
          <div class="review-card text-center">
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
            <p>"Rápidos y eficientes. Realizaron un trabajo maravilloso en mi hogar. Gracias."</p>
            <h5>- Cliente Satisfecho 2</h5>
          </div>
        </div>

        <div class="carousel-item">
          <div class="review-card text-center">
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <p>"Muy impresionado con su profesionalidad y calidad de servicio. ¡Los volveré a contratar sin duda!"</p>
            <h5>- Cliente Satisfecho 3</h5>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#reviewsCarrusel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#reviewsCarrusel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>








</div>
