<div class = "container mt-5 mb-3">
  <div class="d-flex justify-content-center mb-3">
  <h1><%= @request.user.id != current_user.id ? "NUEVA RESEÑA PARA CLIENTE" : "NUEVA RESEÑA PARA FIXER" %></h1>
  </div>
  <div>
    <%= simple_form_for [@request, @review] do |f| %>
      <%= f.input :content, placeholder: '...' unless params[:cliente] %>
      <%= f.input :rating %>
      <%= f.input :user_id, as: :hidden, input_html: {value: params[:cliente]} %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
