<div class="fondo-page" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(255,255,255,0.9)), url(<%= asset_path 'fondoreviews.jpg' %>);">
  <div class="container d-flex justify-content-center p-5">
    <div class = "form-card w-50">
      <h2 class= "text-center pb-4"><%= @request.user.id != current_user.id ? "NUEVA RESEÑA PARA CLIENTE" : "NUEVA RESEÑA PARA FIXER" %></h2>
      <div class="text-center">
        <% if @request.user.id != current_user.id %>
          <%= cl_image_tag(@request.user.photo.key,
                :transformation=>[
                    {:gravity=>"face", :height=>500, :width=>500, :crop=>"crop"},
                    {:radius=>"max"},
                    {:width=>150, :crop=>"scale"},
                    {:fetch_format=>:auto}
                    ]) %>
          <h5 class="pt-3 text-dark"><%= @request.user.name %></h5>
          <p>Servicio de <%= @request.service.category.name %> finalizado.</p>
        <% else %>
          <%= cl_image_tag(@request.service.user.photo.key,
                :transformation=>[
                    {:gravity=>"face", :height=>500, :width=>500, :crop=>"crop"},
                    {:radius=>"max"},
                    {:width=>150, :crop=>"scale"},
                    {:fetch_format=>:auto}
                    ]) %>
          <h5 class="pt-3 text-dark"><%= @request.service.user.name%></h5>
          <p>Servicio de <%= @request.service.category.name.capitalize %> finalizado.</p>
        <% end %>
      </div>
      <%= simple_form_for [@request, @review] do |f| %>
      <div class="d-flex justify-content-center mt-3">
        <%= f.input :rating, label: false, collection: (1..5).to_a, input_html: {data: {controller: "star-rating"}} %>
      </div>
      <%= f.input :content, label: "Añadir comentario", placeholder: '...' unless params[:cliente] %>
      <%= f.input :user_id, as: :hidden, input_html: {value: params[:cliente]} %>
      <div class="text-center">
        <%= f.submit "Enviar", class: "btn btn-fixi"  %>
      </div>
      <% end %>
    </div>
  </div>
</div>
